## Prepare Data

### Import

In [1]:
# Importing necessary libraries
import pandas as pd

In [2]:
# File paths
file1 = 'daily_sales_data_0.csv'
file2 = 'daily_sales_data_1.csv'
file3 = 'daily_sales_data_2.csv'

# Read CSV files
df0 = pd.read_csv(file1)
df1 = pd.read_csv(file2)
df2 = pd.read_csv(file3)

# Merge horizontally
df = pd.concat([df0, df1, df2], axis=0)

# Display the merged DataFrame
print(df.head())

       product  price  quantity        date region
0  pink morsel  $3.00       546  2018-02-06  north
1  pink morsel  $3.00       549  2018-02-06  south
2  pink morsel  $3.00       577  2018-02-06   east
3  pink morsel  $3.00       519  2018-02-06   west
4  gold morsel  $9.99       580  2018-02-06  north

### Tasks

In [3]:
# Only interested in pink morsel [column == product]
df = df[df['product']== 'pink morsel']
# Reset the index
df = df.reset_index(drop=True)

df['product'].unique()

array(['pink morsel'], dtype=object)

In [4]:
# Combine price & quantity to form sales
    # Remove the dollar sign and convert "price" to numeric
df['price'] = df['price'].str.replace('$', '').astype(float)

# Calculate the sales column
df['sales'] = df['price'] * df['quantity']

df.head()

C:\Users\admin\AppData\Local\Temp\ipykernel_7388\727144599.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['price'] = df['price'].str.replace('$', '').astype(float)

       product  price  quantity        date region   sales
0  pink morsel    3.0       546  2018-02-06  north  1638.0
1  pink morsel    3.0       549  2018-02-06  south  1647.0
2  pink morsel    3.0       577  2018-02-06   east  1731.0
3  pink morsel    3.0       519  2018-02-06   west  1557.0
4  pink morsel    3.0       529  2018-02-07  north  1587.0

In [5]:
# rearranging to suit condition
df = df[['sales', 'date', 'region']]
df.head()

    sales        date region
0  1638.0  2018-02-06  north
1  1647.0  2018-02-06  south
2  1731.0  2018-02-06   east
3  1557.0  2018-02-06   west
4  1587.0  2018-02-07  north